
.icon-close:before { content: '\e806'; } /* '' */
.icon-play:before { content: '\e82f'; } /* '' */
.icon-001-car:before { content: '\e833'; } /* '' */
.icon-002-bus:before { content: '\e834'; } /* '' */
.icon-apple:before { content: '\e835'; } /* '' */
.icon-arrow-long:before { content: '\e836'; } /* '' */
.icon-arrow-point-to-right:before { content: '\e837'; } /* '' */
.icon-check:before { content: '\e838'; } /* '' */
.icon-clouds:before { content: '\e839'; } /* '' */
.icon-google-play-badge:before { content: '\e83a'; } /* '' */
.icon-plane1:before { content: '\e83b'; } /* '' */
.icon-sun:before { content: '\e83c'; } /* '' */
.icon-user:before { content: '\e83e'; } /* '' */
.icon-burger:before { content: '\e841'; } /* '' */
.icon-hotel:before { content: '\e842'; } /* '' */
.icon-vector:before { content: '\e843'; } /* '' */
.icon-calendar:before { content: '\e844'; } /* '' */
.icon-download:before { content: '\e845'; } /* '' */
.icon-eye:before { content: '\e846'; } /* '' */
.icon-search-20bold:before { content: '\e847'; } /* '' */
.icon-neuter:before { content: '\f22c'; } /* '' */