<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/logo.png">
    <link rel="stylesheet" href="../css/404.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <section class="error">
        <div class="container">
            <div class="content">
                <h2>404</h2>
                <h4>Ой, Ваш самолет куда-то улетел.</h4>
                <p>Вернитесь, и попробуйте снова</p>
                <a href="#" class="btn_slide">Назад</a>
            </div>
        </div>
    </section>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>

    <script src="../js/jquery-ui.min.js"></script>


    <script src="../js/fm.revealator.jquery.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.checkbox.min.js"></script>
    <script src="../js/jcf.radio.min.js"></script>
    <script src="../js/jcf.select.min.js"></script>

    <script src="../js/jquery.mask.min.js"></script>

    <script src="../js/script.min.js"></script>

</body>

</html>