<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>страницы</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/logo.png">

</head>

<body>

    <ul>
        <li><a href="index.html">Главная</a></li>
        <li><a href="personalArea.html">ЛК</a></li>
        <li><a href="news.html">Новости</a></li>
        <li><a href="newsInternal.html">Новости_внутреняя</a></li>
        <li><a href="stocks.html">Спец предложения</a></li>
        <li><a href="404.html">404</a></li>
    </ul>
</body>

</html>