<footer>
    <div class="container">
        <div class="menu">
            <nav>
                <ul>
                    <li><strong>Компания</strong></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Пресс-центр</a></li>
                    <li><a href="#">Партнерская программа</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li><strong>Информация</strong></li>
                    <li><a href="#">Безопасность</a></li>
                    <li><a href="#">Конфиденциальность</a></li>
                    <li><a href="#">Оферта</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li><strong>Часто задаваемые вопросы</strong></li>
                    <li><a href="#">Оформление и покупка</a></li>
                    <li><a href="#">Возврат и обмен билета</a></li>
                    <li><a href="#">Все вопросы и ответы</a></li>
                </ul>
            </nav>
        </div>
        <div class="logo">
            <a href="index.html">
                <img src="../img/logo.png">
            </a>
            <p>
                © 2007–2019, AVIAKA -
                <span>
                    дешевые авиабилеты
                </span>
            </p>
        </div>
    </div>
</footer>