<header>
    <div class="container">
        <a href="index.html" class="logo">
            <img src="../img/logo.png">
        </a>
        <div class="mobile">
            <div class="user_menu open-order">
                <i class="icon-user"></i>
            </div>
            <div class="menu">
               <i class="icon-burger menu_btn"></i>
            </div>
        </div>
        <div class="desktop">
            <ul class="menu">
                <li class="active">
                    <a href="stocks.html">Спецпредложение</a>
                </li>
                <li>
                    <a href="news.html">Новости и публикации</a>
                </li>
            </ul>
            <div class="menu_about">
                <div class="select_block">
                    <div class="select">
                        <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
                            <option>RU</option>
                            <option>ENG</option>
                            <option>PL</option>
                        </select>
                    </div>
                    <div class="select">
                        <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
                            <option>$</option>
                            <option>RUB</option>
                            <option>EUR</option>
                        </select>
                    </div>
                </div>
                <div class="user_menu open-order">
                        <i class="icon-user"></i>
                    </div>
                <!--<div class="switch-btn switch-on"></div>-->
            </div>
        </div>
        <nav class="menu_list">
            <div class="select_block">
                <div class="select">
                    <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
                        <option>RU</option>
                        <option>ENG</option>
                        <option>PL</option>
                    </select>
                </div>
                <div class="select">
                    <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
                        <option>$</option>
                        <option>RUB</option>
                        <option>EUR</option>


                    </select>
                </div>
            </div>
            <div class="menu_item">
                <ul>
                    <li>
                        <a href="stocks.html">Спецпредложение</a>
                    </li>
                    <li>
                        <a href="news.html">Новости и публикации</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>