<div class="overlay-order orderPopup animated ">
    <div class="close"></div>
    <div class="order__popup ">
        <span class="close-popup"></span>
        <div class="content">
            <h3>Авторизация</h3>
            <form>
                <div class="input_box">
                    <label>E-mail</label>
                    <input placeholder="Введите вашу почту">
                </div>
                <div class="input_box">
                    <label>Пароль</label>
                    <input placeholder="Введите пароль">
                </div>
                <button class="btn_form">Вход</button>
            </form>
        </div>
    </div>
</div>

<div class="overlay-registration registrationPopup animated ">
    <div class="close"></div>
    <div class="registration__popup ">
        <span class="close-popup"></span>
        <div class="content">
            <h3>Регистрация</h3>
            <form>
                <div class="input_box">
                    <label>Имя Фамилия</label>
                    <input placeholder="Например, Иван Иванов">
                </div>
                <div class="input_box">
                    <label>E-mail</label>
                    <input placeholder="Введите вашу почту">
                </div>
                <div class="input_box">
                    <label>Номер телефона</label>
                    <input class="code" placeholder="370" type="number">
                    <input class="phone" placeholder="ХХХ-ХХХ-ХХ-ХХ" type="number">
                </div>
                <div class="input_box">
                    <label>Пароль</label>
                    <input placeholder="Введите пароль">
                </div>
                <div class="input_box">
                    <label>Повторите пароль</label>
                    <input placeholder="Повторите пароль">
                </div>
                <button class="btn_form">зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>

<div class="overlay-valid validPopup animated ">
    <div class="close"></div>
    <div class="valid__popup ">
        <span class="close-popup"></span>
        <div class="content">
            <h3>Спасибо Вам за регистрацию!</h3>
            <button class="btn_form">хорошо</button>
        </div>
    </div>
</div>

<div class="overlay-invalid invalidPopup animated ">
    <div class="close"></div>
    <div class="invalid__popup ">
        <span class="close-popup"></span>
        <div class="content">
            <h3>Ошибка данных</h3>
            <button class="btn_form">хорошо</button>
        </div>
    </div>
</div>

